body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
}

.image{
    background-image: url(/images/image.png);
    background-size: cover;
    text-align: center;
}

.heading{
    text-align: center;
}

fieldset{
    margin-left: 100px;
    width: 400px;
    border: 2px solid rgb(48, 151, 248);
    border-radius: 10px;
    margin-top: 20px;
}

legend{
    color: rgb(48, 151, 248);
    font-weight: bold;
}

.mail{
    display: flex;
}

.forgot{
    margin-left: 380px;
    color: rgb(113, 112, 112);
}

.btn{
    width: 100px;
    height: 40px;
    margin-left: 250px;
    background-color: rgb(48, 151, 248);
    border: 1px solid rgb(48, 151, 248);
    border-radius: 10px;
    color: white;
}

hr{
    margin-left: 40px;
}

.icons{
    margin-left: 250px;
}

.icons button{
    background-color: rgb(226, 248, 251);
    border: 1px solid rgb(226, 248, 251);
}
.google{
    width: 50px;
    border: 1px solid rgb(226, 248, 251);
    border-radius: 10px;
}

.icons button i{
    font-size: 40px;
    padding: 10px;
}

